html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: cream;
  font-family: 'Pokemon Solid';
  font-style: normal;
  font-weight: 600;
  color: black;
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  height: 100%;
}

.left-sidebar, .right-sidebar {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  /* border-color: green;
  border-style: dotted; */
  background-color: lightgray;
}

.playerImg {
  margin: 20px;
  height: 90px;
  width: 60px;
}

.home-view {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: flex-start;
  /* border-color: blue;
  border-style: dotted; */
}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* border-color: blue;
  border-style: dotted; */
}

.header, .sub-header {
  display: flex;
}

.pokeball {
  height: 30px;
  width: 30px;
  padding: 10px;
}

.header {
  font-size: 45px;
}

.sub-header {
  font-size: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border-color: green;
  border-style: dotted; */
  height: 80%;
}

.bulba, .charm, .squirt, .pikachu, .sand {
  height: 100px;
  width: 100px;
  cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}

.selectedImg1, .selectedImg2 {
  height: 100px;
  width: 100px;
}

.normal-game-view, .hard-game-view, .selection-view {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-color: green;
  border-style: dotted; */
  height: 80%;
}

.easy-game, .hard-game {
  width: 50%;
  justify-content: center;
  margin-left: 25%;
  border-radius: 12px;
  border: 2px solid red;
}

.hidden {
  display: none;
}